<ion-header [translucent]="true">



</ion-header>

<ion-content [fullscreen]="true">

  <!--  <ion-card *ngIf="regisTer===false">
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
      <ion-card-subtitle>La aplicación de los carretes.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Usuario" [(ngModel)]="usuario"  maxlength="14" ></ion-input>
        </ion-item>
        <ion-item>
        <ion-input type="password" label="Contraseña" [(ngModel)]="contrasen">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="iniciarSesion()">INICIAR SESIÓN</ion-button>
      <ion-label>¿No tienes cuenta?,</ion-label> <ion-button fill="clear" (click)="regisTer = true;"  >registrarme</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="regisTer===true">
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
      <ion-card-subtitle>Se viene un maldito.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Usuario" labelPlacement="floating" [counter]="true"
          maxlength="14"  [(ngModel)]="usuario"></ion-input>
        </ion-item>

        <ion-item>

          <ion-input
              type="email"
              fill="solid"
              label="Email"
              labelPlacement="floating"
              helperText="Ingresa un email válido"
              errorText="Email inválido"
              ngModel
              email

              [(ngModel)]="correo"

            ></ion-input>
        </ion-item>


        <ion-item>
        <ion-input type="password" label="Contraseña" [(ngModel)]="contrasen" labelPlacement="floating" fill="solid" ngModel required >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block"  >REGISTRARME</ion-button>
       <ion-button fill="clear" (click)="regisTer =false;"  >Iniciar sesión</ion-button>
    </ion-card-content>
  </ion-card>
  -->
  <div class="login-container" *ngIf="regisTer===false">
    <div class="login-header">
      <h1>VacilApp</h1>
    </div>

    <div class="login-form">
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Usuario" type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="contrasen"></ion-input>
      </ion-item>
      <ion-button expand="block" class="login-button" (click)="iniciarSesion()">Iniciar sesión</ion-button>

      <div class="login-options">
        <ion-button fill="clear" class="option-button">¿Olvidaste tu contraseña?</ion-button>
        <ion-button fill="clear" class="option-button"  (click)="regisTer = true;"  >Registrame </ion-button>
      </div>
    </div>
  </div>

  <div class="login-container"  *ngIf="regisTer===true">
    <div class="login-header">
      <h1>VacilApp - Registrarme 🔥</h1>
    </div>

    <div class="login-form">
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Usuario" type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          helperText="Ingresa un email válido"
          errorText="Email inválido"
          [(ngModel)]="correo"
          email
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="contrasen"></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button">Registrarme</ion-button>

      <div class="login-options">
        <ion-button fill="clear" class="option-button" (click)="regisTer=false">Iniciar sesión</ion-button>
      </div>
    </div>
  </div>


</ion-content>
