#mapcontainer{
  
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 60vh;            
    
}
  
#map{
  
  background-color: lightblue;
  padding: 20px;
  border-radius: 8px;
  
}
  
*{
  text-align: center;
}


swiper-container swiper-slide ion-card img{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.hot-card{
  background-image: url('https://services.meteored.com/img/article/las-llamas-tienen-diferentes-colores-que-dice-la-ciencia-sobre-esto-1715069096512_1280.jpeg'); /* Replace with your fire image URL */
  background-size: cover; /* Make sure the image covers the entire card */
  background-position: center;
  color: white; /* Make the text white to contrast with the background */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.itemList{
  background-color: aqua;
}


.neon-text {
  color: #ffee00; /* Neon-like orange color */
  text-shadow: 
    0 0 5px #ffee00,   /* Small inner glow */
    0 0 40px #d6d305,  /* Slight variation in glow */
    0 0 50px #b1a60a;
  font-weight: bold;   /* Bold letters to enhance the neon effect */
  
}
  

